In [2]:
import pandas as pd 
import numpy as np

In [3]:
'''Field(s)      Meaning
   1          Date in the form "yyyymmdd"
   2          Number of game:
                     "0" - a single game
                     "1" - the first game of a double header including separate admission doubleheaders
                     "2" - the second game of a double header including separate admission doubleheaders
   3          Day of week("Sun","Mon","Tue","Wed","Thu","Fri","Sat")
   4-5        Visiting team and league
   6          Season game number for visiting team
   7-8        Home team and league
   9          Season game number for home team
   10         Day (D), Night (N), Afternoon (A), Evening (E for twinight)
   11         Postponement/cancellation indicator (more detail below)
   12         Date of makeup if played in the form "yyyymmdd" (more detail below)'''

'Field(s)      Meaning\n   1          Date in the form "yyyymmdd"\n   2          Number of game:\n                     "0" - a single game\n                     "1" - the first game of a double header including separate admission doubleheaders\n                     "2" - the second game of a double header including separate admission doubleheaders\n   3          Day of week("Sun","Mon","Tue","Wed","Thu","Fri","Sat")\n   4-5        Visiting team and league\n   6          Season game number for visiting team\n   7-8        Home team and league\n   9          Season game number for home team\n   10         Day (D), Night (N), Afternoon (A), Evening (E for twinight)\n   11         Postponement/cancellation indicator (more detail below)\n   12         Date of makeup if played in the form "yyyymmdd" (more detail below)'

In [4]:
colnames = ['Date', 'Doubleheader', 'DayOfWeek', 'VisitingTeam', 'LeagueVisit', 'SeasonGameVisit', 'HomeTeam', 'LeagueHome', 'SeasonGameHome', 'Time', 'Postponement', 'MakeupDate']
mlb_df = pd.read_csv('data/2019SKED.txt', names = colnames, na_values = '')
mlb_df = mlb_df.where(pd.notnull(mlb_df), None)
#20190401	
mlb_df['Date'] = pd.to_datetime(mlb_df['Date'], format = '%Y%m%d')

In [5]:
YanksHomeGames = mlb_df[(mlb_df['HomeTeam'] == 'NYA') & (mlb_df['Time'] == 'n') & (mlb_df['MakeupDate'].values == None)]
YanksAwayGames = mlb_df[(mlb_df['VisitingTeam'] == 'NYA') & (mlb_df['Time'] == 'n') & (mlb_df['MakeupDate'].values == None)]

MetsHomeGames = mlb_df[(mlb_df['HomeTeam'] == 'NYN') & (mlb_df['Time'] == 'n') & (mlb_df['MakeupDate'].values == None)]
MetsAwayGames = mlb_df[(mlb_df['VisitingTeam'] == 'NYN') & (mlb_df['Time'] == 'n') & (mlb_df['MakeupDate'].values == None)]

print('Number of Yankee Home Night Games:', YanksHomeGames.shape[0], '\nNumber of Mets Home Night Games:', MetsHomeGames.shape[0])
print('Number of Yankee Away Night Games:', YanksAwayGames.shape[0], '\nNumber of Mets Away Night Games:', MetsAwayGames.shape[0])

Number of Yankee Home Night Games: 45
Number of Mets Home Night Games: 58
Number of Yankee Away Night Games: 53
Number of Mets Away Night Games: 50

In [6]:
YanksHomeGamesTup = tuple(YanksHomeGames['Date'])
YanksAwayGamesTup = tuple(YanksAwayGames['Date'])
MetsHomeGamesTup = tuple(MetsHomeGames['Date'])
MetsAwayGamesTup = tuple(MetsAwayGames['Date'])

In [7]:
YanksHomeGames

,Date,Doubleheader,DayOfWeek,VisitingTeam,LeagueVisit,SeasonGameVisit,HomeTeam,LeagueHome,SeasonGameHome,Time,Postponement,MakeupDate
62,2019-04-01,0,Mon,DET,AL,5,NYA,AL,4,n,None,None
73,2019-04-02,0,Tue,DET,AL,6,NYA,AL,5,n,None,None
194,2019-04-12,0,Fri,CHA,AL,12,NYA,AL,13,n,None,None
249,2019-04-16,0,Tue,BOS,AL,18,NYA,AL,16,n,None,None
264,2019-04-17,0,Wed,BOS,AL,19,NYA,AL,17,n,None,None
279,2019-04-18,0,Thu,KCA,AL,19,NYA,AL,18,n,None,None
291,2019-04-19,0,Fri,KCA,AL,20,NYA,AL,19,n,None,None
475,2019-05-03,0,Fri,MIN,AL,31,NYA,AL,31,n,None,None
523,2019-05-06,0,Mon,SEA,AL,37,NYA,AL,34,n,None,None
537,2019-05-07,0,Tue,SEA,AL,38,NYA,AL,35,n,None,None
552,2019-05-08,0,Wed,SEA,AL,39,NYA,AL,36,n,None,None
562,2019-05-09,0,Thu,SEA,AL,40,NYA,AL,37,n,None,None
634,2019-05-15,0,Wed,BAL,AL,44,NYA,AL,43,n,None,None
669,2019-05-17,0,Fri,TBA,AL,44,NYA,AL,44,n,None,None
817,2019-05-28,0,Tue,SDN,NL,55,NYA,AL,55,n,None,None
848,2019-05-31,0,Fri,BOS,AL,59,NYA,AL,58,n,None,None
863,2019-06-01,0,Sat,BOS,AL,60,NYA,AL,59,n,None,None
878,2019-06-02,0,Sun,BOS,AL,61,NYA,AL,60,n,None,None
998,2019-06-11,0,Tue,NYN,NL,68,NYA,AL,68,n,None,None
1086,2019-06-17,0,Mon,TBA,AL,73,NYA,AL,73,n,None,None
1101,2019-06-18,0,Tue,TBA,AL,74,NYA,AL,74,n,None,None
1122,2019-06-20,0,Thu,HOU,AL,76,NYA,AL,76,n,None,None
1136,2019-06-21,0,Fri,HOU,AL,77,NYA,AL,77,n,None,None
1151,2019-06-22,0,Sat,HOU,AL,78,NYA,AL,78,n,None,None
1180,2019-06-24,0,Mon,TOR,AL,79,NYA,AL,80,n,None,None
1194,2019-06-25,0,Tue,TOR,AL,80,NYA,AL,81,n,None,None
1370,2019-07-12,0,Fri,TOR,AL,92,NYA,AL,91,n,None,None
1410,2019-07-15,0,Mon,TBA,AL,96,NYA,AL,94,n,None,None
1424,2019-07-16,0,Tue,TBA,AL,97,NYA,AL,95,n,None,None
1451,2019-07-18,0,Thu,TBA,AL,99,NYA,AL,97,n,None,None
1457,2019-07-19,0,Fri,COL,NL,98,NYA,AL,98,n,None,None
1601,2019-07-30,0,Tue,ARI,NL,108,NYA,AL,108,n,None,None
1641,2019-08-02,0,Fri,BOS,AL,112,NYA,AL,110,n,None,None
1669,2019-08-04,0,Sun,BOS,AL,114,NYA,AL,112,n,None,None
1779,2019-08-12,0,Mon,BAL,AL,119,NYA,AL,120,n,None,None
1787,2019-08-13,0,Tue,BAL,AL,120,NYA,AL,121,n,None,None
1818,2019-08-15,0,Thu,CLE,AL,122,NYA,AL,123,n,None,None
1829,2019-08-16,0,Fri,CLE,AL,123,NYA,AL,124,n,None,None
2021,2019-08-30,0,Fri,OAK,AL,135,NYA,AL,136,n,None,None
2080,2019-09-03,0,Tue,TEX,AL,140,NYA,AL,140,n,None,None
2093,2019-09-04,0,Wed,TEX,AL,141,NYA,AL,141,n,None,None
2255,2019-09-17,0,Tue,ANA,AL,151,NYA,AL,152,n,None,None
2270,2019-09-18,0,Wed,ANA,AL,152,NYA,AL,153,n,None,None
2285,2019-09-19,0,Thu,ANA,AL,153,NYA,AL,154,n,None,None
2307,2019-09-20,0,Fri,TOR,AL,154,NYA,AL,155,n,None,None

In [22]:
knicks = pd.read_csv('data/Knicks2019.csv', parse_dates = [['Date', 'Time']])
knickshome = knicks[knicks['Home/Away'] != '@']
knicksaway= knicks[knicks['Home/Away'] == '@']

             Date_Time   G Home/Away
2  2019-10-26 19:30:00   3       NaN
3  2019-10-28 19:00:00   4       NaN
6  2019-11-03 18:00:00   7       NaN
9  2019-11-10 19:30:00  10       NaN
11 2019-11-14 20:00:00  12       NaN
12 2019-11-16 19:30:00  13       NaN
13 2019-11-18 19:00:00  14       NaN
15 2019-11-23 19:30:00  16       NaN
16 2019-11-24 18:00:00  17       NaN
18 2019-11-29 19:30:00  19       NaN
19 2019-12-01 15:30:00  20       NaN
21 2019-12-05 19:30:00  22       NaN
22 2019-12-07 19:30:00  23       NaN
27 2019-12-17 19:30:00  28       NaN
29 2019-12-21 19:30:00  30       NaN
30 2019-12-23 19:00:00  31       NaN
33 2020-01-01 19:30:00  34       NaN
38 2020-01-10 19:15:00  39       NaN
39 2020-01-12 15:30:00  40       NaN
41 2020-01-16 19:30:00  42       NaN
42 2020-01-18 19:30:00  43       NaN
44 2020-01-22 19:30:00  45       NaN
45 2020-01-24 19:30:00  46       NaN
46 2020-01-26 18:00:00  47       NaN
48 2020-01-29 19:30:00  49       NaN
51 2020-02-06 19:30:00  52       NaN
54 2020-02-12 19:30:00  55       NaN
55 2020-02-21 19:30:00  56       NaN
59 2020-02-29 17:00:00  60       NaN
60 2020-03-02 19:00:00  61       NaN
61 2020-03-04 19:30:00  62       NaN
62 2020-03-06 19:30:00  63       NaN
63 2020-03-08 19:30:00  64       NaN

In [19]:
knicks['GameTime'] = pd.to_datetime(knicks[['Date', 'Time']], format = '%a %b %d %Y %I %p')

type(knickshome['Date'][0])

ValueError: to assemble mappings requires at least that [year, month, day] be specified: [day,month,year] is missing